<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <h1>{{l('qlnguoidung_doimk')}}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card col-lg-5 col-md-12">
        <div class="card-header">
          <form class="form-horizontal" autocomplete="off" #changePasswordForm="ngForm" (ngSubmit)="changePassword()">

            <div class="ui-fluid m-t-24">
              <dft-label-validation [title]="l('qlnguoidung_mkhientai')" [titleValidate] = "' *'">
              </dft-label-validation>
              <div class="form-group">
                <div class="input-group">
                  <input type="password" style=" border-right: none !important; border-radius: 8px 0 0  8px !important;" class="form-control" name="currentPassword" id="currentPassword" required
                  minlength="12" maxlength="32" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" [(ngModel)]="changePasswordDto.currentPassword"
                  #currentPasswordModel="ngModel" #currentPasswordEl />
                  <div class="input-group-append">
                    <div class="input-group-text"
                      style="border: 1px solid rgba(83, 89, 95, 0.2) !important; border-left: none !important; border-radius: 0 8px 8px 0;">
                      <span class="pi" [ngClass]="{
                        'pi-eye-slash': !fieldTextTypePass,
                        'pi-eye': fieldTextTypePass
                      }"
                      (click)="toggleFieldTextTypePass()"></span>
                    </div>
                  </div>
                </div>
                <abp-validation-summary [control]="currentPasswordModel" [controlEl]="currentPasswordEl">
                </abp-validation-summary>
              </div>
            </div>

            <div class="ui-fluid m-t-24">
              <dft-label-validation [title]="l('qlnguoidung_mkmoi')" [titleValidate] = "' *'">
              </dft-label-validation>
              <div class="form-group">
                <div class="input-group">
                  <input type="password" style=" border-right: none !important; border-radius: 8px 0 0  8px !important;" class="form-control" name="newPassword" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" id="newPassword" required minlength="12"
                  maxlength="32" validateEqual="confirmNewPassword" reverse="true"
                  [(ngModel)]="changePasswordDto.newPassword" #newPasswordModel="ngModel" #newPasswordEl />
                    <div class="input-group-append">
                      <div class="input-group-text"
                        style="border: 1px solid rgba(83, 89, 95, 0.2) !important; border-left: none !important; border-radius: 0 8px 8px 0;">
                        <span class="pi" [ngClass]="{
                          'pi-eye-slash': !fieldTextType,
                          'pi-eye': fieldTextType
                        }"
                        (click)="toggleFieldTextType()"></span>
                      </div>
                    </div>
                </div>
                <abp-validation-summary [control]="newPasswordModel" [controlEl]="newPasswordEl"
                  [customValidationErrors]="newPasswordValidationErrors"></abp-validation-summary>
              </div>
            </div>

            <div class="ui-fluid m-t-24">
              <dft-label-validation [title]="l('qlnguoidung_xacnhanmkmoi')" [titleValidate] = "' *'">
              </dft-label-validation>
              <div class="form-group">
                <div class="input-group">
                  <input type="password" style=" border-right: none !important; border-radius: 8px 0 0  8px !important;" class="form-control" name="confirmNewPassword" id="confirmNewPassword" required
                  minlength="12" maxlength="32" validateEqual="newPassword" reverse="false" ngModel
                  #confirmNewPasswordModel="ngModel" #confirmNewPasswordEl />
                    <div class="input-group-append">
                      <div class="input-group-text"
                        style="border: 1px solid rgba(83, 89, 95, 0.2) !important; border-left: none !important; border-radius: 0 8px 8px 0;">
                        <span class="pi" [ngClass]="{
                          'pi-eye-slash': !fieldTextType1,
                          'pi-eye': fieldTextType1
                        }"
                        (click)="toggleFieldTextType1()"></span>
                      </div>
                    </div>
                </div>
                <abp-validation-summary [control]="confirmNewPasswordModel" [controlEl]="confirmNewPasswordEl"
                  [customValidationErrors]="
                      confirmNewPasswordValidationErrors
                    "></abp-validation-summary>
              </div>
            </div>

            <div class="card-footer text-right p-r-0">
              <button type="button" class="btn btn-cancle-background m-r-8" (click)="clearValue()">
                <span style="margin-left: 5px;">{{l('Btn_Huy')}}</span></button>
              <button type="submit" class="btn btn-primary btn-save-background width-btn-footer"
                [disabled]="!changePasswordForm.form.valid || saving"><i class="fa fa-save"></i>
                <span style="margin-left: 5px;">{{l('Save')}}</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>