
<nav class="main-header navbar navbar-expand"
  style="background-image: url('../../assets/img/Footer-6.png'); height: 60px; padding-right: 30px; margin-right: 10px; ">
    <strong style="font-family: 'Exo2-Regualar' !important; color: rgba(83, 89, 95, 0.5); padding-left: 35px; font-size: 14px;">
      COPYRIGHT &copy; {{ currentYear }}
      <a href="javascript:;" style="font-family: 'Exo2-Regualar' !important; color: rgba(83, 89, 95, 0.5);">SMARTSITE</a>.
    </strong>
    <ul class="navbar-nav ml-auto">
      <div class="float-right d-none d-sm-inline-block" style="font-family: 'Exo2-Regualar' !important; font-size: 14px; color: rgba(83, 89, 95, 0.5)">
        <b>{{ "VERSION" | localize }} </b> {{ versionText }}
      </div>
    </ul>
</nav>