<nav class="main-header navbar navbar-expand"
  style="background-image: url('../../assets/img/Header-6.png'); height:70px; padding-right: 30px; margin-right: 13px; margin-top: -4px;">
  <header-left-navbar></header-left-navbar>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <div class="dropdown">
        <button class="dropdown-toggle btn btn-sm btn-transparent btn-action dropbtn"
            type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="pi pi-download"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a href="https://webapp.diawi.com/install/tDQRa5" class="dropdown-item"><i class="pi pi-apple"></i> Apple</a>
          <a href="javascript:;" class="dropdown-item" (click) = "downloadApk()"><i class="pi pi-android"></i> Android</a>
        </div>
    </div>
    </li>
    <header-language-menu></header-language-menu>
    <header-user-menu></header-user-menu>
  </ul>
</nav>