.min {
    min-height: 30px !important;
}
.title-nguoi-phu-trach{
    padding: 0px 0px 24px 24px;
    font-family: "SF Pro Display" !important;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #0A4874;
}