<form [formGroup]="form" class="form-horizontal" autocomplete="off" #createUserModal="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="l('qlnguoidung_themmoinguoidung')" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body fixed-modal-height">
    <div class="p-grid m-t-24">
      <ng-container *ngFor="let role of roles; let i = index">
        <div *ngIf="listRoles?.includes(role.name)" class="col-md-6" style="padding: transparent !important;">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" [id]="'role_' + i"
              [checked]="isRoleChecked(role.normalizedName)" (change)="onRoleChange(role, $event)" />
            <label class="custom-control-label" [for]="'role_' + i">
              {{ role.name }}
            </label>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="p-grid ui-fluid  m-t-24">
      <div class="col-md-6">
        <div class="form-group">
          <dft-label-validation [control]="form.get('HoTen')" [title]="l('qlnguoidung_hoten')" [titleValidate]="' *'">
          </dft-label-validation>
          <input formControlName="HoTen" type="text" class="form-control" maxlength="64" />
          <dft-validation [control]="form.get('HoTen')"></dft-validation>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <dft-label-validation [control]="form.get('EmailAddress')" [title]="l('qlnguoidung_diachiemail')"
            [titleValidate]="' *'">
          </dft-label-validation>
          <input formControlName="EmailAddress" class="form-control" maxlength="256"
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" />
          <dft-validation [control]="form.get('EmailAddress')"></dft-validation>
        </div>
      </div>
    </div>

    <div class="p-grid ui-fluid">
      <div class="col-md-6">
        <div class="form-group">
          <dft-label-validation [control]="form.get('ChucVu')" [title]="l('qlnguoidung_chucvu')">
          </dft-label-validation>
          <input formControlName="ChucVu" type="text" class="form-control" maxlength="50" />
          <dft-validation [control]="form.get('ChucVu')"></dft-validation>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <dft-label-validation [control]="form.get('DiaChi')" [title]="l('qlnguoidung_donvi')">
          </dft-label-validation>
          <input formControlName="DiaChi" type="text" class="form-control" maxlength="500" />
          <dft-validation [control]="form.get('DiaChi')"></dft-validation>
        </div>
      </div>
    </div>

    <div class="p-grid ui-fluid">
      <div class="col-md-6">
        <div class="form-group">
          <dft-label-validation [control]="form.get('TenDangNhap')" [title]="l('qlnguoidung_tendangnhap')"
            [titleValidate]="' *'">
          </dft-label-validation>
          <input formControlName="TenDangNhap" type="text" class="form-control"
            (keydown.space)="$event.preventDefault()" maxlength="32" pattern="^[a-zA-Z0-9_-]+$" />
          <dft-validation [control]="form.get('TenDangNhap')"></dft-validation>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <dft-label-validation [control]="form.get('SoDienThoai')" [title]="l('qlnguoidung_sdt')">
          </dft-label-validation>
          <input formControlName="SoDienThoai" type="text" class="form-control" maxlength="15" />
          <dft-validation [control]="form.get('SoDienThoai')"></dft-validation>
        </div>
      </div>
    </div>

    <div class="p-grid ui-fluid">
      <div class="col-md-6">
        <div class="form-group">
          <dft-label-validation [control]="form.get('MatKhau')" [title]="l('qlnguoidung_matkhau')"
            [titleValidate]="' *'">
          </dft-label-validation>
          <input formControlName="MatKhau" autocomplete="new-password"
            pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{12,}$" type="password"
            class="form-control" id="MatKhau" minlength="12" maxlength="32" />
          <dft-validation [control]="form.get('MatKhau')"></dft-validation>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <dft-label-validation [control]="form.get('XacNhanMatKhau')" [title]="l('qlnguoidung_xacnhanmatkhau')"
            [titleValidate]="' *'">
          </dft-label-validation>
          <input formControlName="XacNhanMatKhau"
            pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{12,}$" autocomplete="new-password"
            type="password" class="form-control" id="XacNhanMatKhau" minlength="12" maxlength="32" />
          <dft-validation [control]="form.get('XacNhanMatKhau')"></dft-validation>
        </div>
      </div>
    </div>

    <div class="p-grid ui-fluid">
      <div class="col-md-12">
        <div class="form-group">
          <dft-label-validation [control]="form.get('TinhTrang')" [title]="l('qlnguoidung_kichhoat')">
          </dft-label-validation>
          <br>
          <p-inputSwitch formControlName="TinhTrang"></p-inputSwitch>
        </div>
      </div>
    </div>

    <div class="p-grid ui-fluid">
      <div class="col-md-12">
        <div class="form-group">
          <dft-label-validation [form]="form" [title]="l('qlsdtemail_ghichu')">
          </dft-label-validation>
          <br>
          <textarea formControlName="GhiChu" class="form-control" rows="4"></textarea>
        </div>
      </div>
    </div>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>