th{
    border: 1px solid #D3e5f8 !important;
}
tr{
    border: 1px solid #D3e5f8 !important;
    
}
td{
    border: 1px solid #D3e5f8 !important;
}
.over {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}