<div class="login-logo row">
  <div class="col-12 text-center">
    <p style="line-height: 0;"><img src="../../assets/img/logo-mbf.png" alt="Logo" class="brand-image img-circle"
        style="width: 151,71px; height: 25px; padding-right: 5px;" />
      <img src="../../assets/img/SmartSite.png" alt="Logo" class="brand-image img-circle"
        style="width: 151,71px; height: 25px;" />
    </p>
    <p style="line-height: 0; padding-bottom: 15px;"><b style="font-size: 18px; font-weight: 300; color: rgba(83, 89, 95, 0.5);">{{ "Titile_SmartSite" |
        localize}}</b>
    </p>
  </div>
</div>