.iconOpen{
    display:block;
    margin:auto;
    font-size: 220px;
    width: 220px;
    height: 220px;
    color:mediumseagreen;
}
.iconClosed{
    display:block;
    margin:auto;
    width: 220px;
    height: 220px;
    font-size: 220px;
}
.matKetNoi{
    font-family: 'SF Pro Display' !important;
    color: #c63737 !important;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px !important;
}
.dangKetNoi{
    font-family: 'SF Pro Display' !important;
    color: #256029 !important;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px !important;
}
.ten{
    font-family: 'SF Pro Display' !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
    line-height: 22px !important;
    color: #53595F !important;
    padding-bottom: 16px !important;
    display: grid !important;
}
.thoiGian{
    font-family: 'SF Pro Display' !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
    line-height: 22px !important;
    color: #53595F !important;
    display: grid !important;
}