<form [formGroup]="form" class="form-horizontal" autocomplete="off" (ngSubmit)="save()">
    <abp-modal-header [title]="id ?( isView ? l('qlcanhbaotram_xemchitiet')+ boCanhBaoDto?.ten : this.l('Update')+': ' + boCanhBaoDto?.ten ):
            l('qlluatcanhbao_themmoiluatcanhbao')" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body fixed-modal-height">
        <div class="p-grid ui-fluid m-t-1">
            <div class="p-col-12 p-md-12 p-lg-6">
                <div class="form-group">
                    <dft-label-validation [form]="form" [title]="l('qlluatcanhbao_tenluatcanhbao')" [titleValidate] = "' *'"
                        [control]="form.get('nameArlam')">
                    </dft-label-validation>
                    <input required type="text" id="nameArlam" name="nameArlam" formControlName='nameArlam'
                        maxlength="255" pInputText />
                    <dft-validation [control]="form.get('nameArlam')"></dft-validation>
                </div>
            </div>
            <div class="p-col-12 p-md-12 p-lg-12">
                <div class="form-group">
                    <dft-label-validation [form]="form" [title]="l('qlluatcanhbao_mota')">
                    </dft-label-validation>
                    <br>
                    <textarea formControlName="description" class="form-control" id="description" rows="4"></textarea>
                </div>
            </div>
            <div class="col-md-8 text-left" style="padding: 15px 0px 0px 10px !important;">
                <div class="form-group">
                    <dft-label-validation [form]="form" [title]="l('qlluatcanhbao_danhsachtruonghopcanhbao')" [titleValidate] = "' *'">
                    </dft-label-validation>
                </div>
            </div>

            <div class="col-md-4 text-right btn-mobile" style="padding: 0px 8px 0px 0px !important;">
                <div class="form-group">
                <button [disabled]="isView" type="button" class="btn btn-primary m-l-8"
                    (click)="showCreateOrEditAlarm(null,false, id)">
                    <i class="pi pi-plus"></i>
                    <span style="margin-left: 10px;">{{l('Create')}}</span></button>
                <button [disabled]="checkDelete()" type="button" class="btn btn-danger m-l-8"
                    (click)="deleteArlam()">
                    <i class="pi pi-trash"></i>
                    <span style="margin-left: 10px;">{{l('Delete1')}}</span></button>
                </div>
            </div>

            <div class="col-md-4 text-right btn-mobile1" style="padding: 0px 8px 0px 0px !important;">
                <div class="form-group">
                <button [disabled]="isView" type="button" class="btn btn-primary m-l-8"
                    (click)="showCreateOrEditAlarm(null,false, id)">
                    <i class="pi pi-plus"></i></button>
                <button [disabled]="checkDelete()" type="button" class="btn btn-danger m-l-8"
                    (click)="deleteArlam()">
                    <i class="pi pi-trash"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div >
        <p-table  #dt [value]="boCanhBaoDto.canhBao" [paginator]="paginator" [loading]="false"
            [showCurrentPageReport]="showCurrentPageReport"
            currentPageReportTemplate="{{totalCount==0?'':this.l('txt_show')+ ': {first}-{last}/{totalRecords}'}}"
            [rows]="paginatorRows" [rowsPerPageOptions]="rowsPerPageOptions" [scrollable]="scrollable"
            scrollHeight="{{scrollHeight}}" [(selection)]="arlamSelected">
            <ng-template pTemplate="header">
                <tr>
                    <th class="width-30">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th class="width-150">{{l('qlluatcanhbao_tentruonghopcanhbao')}}</th>
                    <th class="width-150">{{l('qlluatcanhbao_somuccanhbao')}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record>
                <tr class="ui-selectable-row">
                    <td class="width-30">
                        <p-tableCheckbox [value]="record">
                        </p-tableCheckbox>
                    </td>
                    <td class="width-150 style-cot-canhbao sortable" style="text-decoration: underline"
                        (click)="showCreateOrEditAlarm(record.id,this.isView,this.id, record, boCanhBaoDto)">{{
                        record.tbAlarmType | truncate }}</td>
                    <td class="width-150">{{ this.getLength(record.tbCreateRules) }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="demo" colspan="8" style="text-align:left">{{l(khongCoDuLieu)}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <abp-modal-footer [cancelLabel]="isView? l('Close') : l('Btn_Huy')" [cancelDisabled]="saving"
        [saveDisabled]="checkSaving()" (onCancelClick)="close()">
    </abp-modal-footer>
</form>